.swiper-button-next,
.swiper-button-prev {
  display: none !important;
}
/* White color for inactive dots */
.swiper-pagination-bullet {
  background: white !important;
  opacity: 0.6;
}

/* Brighter color for the active dot */
.swiper-pagination-bullet-active {
  background: white !important;
  opacity: 1;
}
